<div class="container">
  <button type="button" *ngIf="currentUser" (click) = "onCreateAdClick()" class="btn btn-primary btn-lg">Create Ad</button>
  <!-- <button type="button" *ngIf="currentUser" routerLink="/edit" class="btn btn-primary btn-lg">Create Ad</button> -->

  <div class="card text-center" *ngFor="let item of adsList | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="card-header">
      {{item.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.authorName}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a href="#" *ngIf="currentUser?.username === item.authorName" class="btn btn-primary" (click)="onDelete(item.id)">Delete</a>
    </div>
    <div class="card-footer text-muted">
      {{item.createdAt}}
    </div>
  </div>
  <div class="pagination-controls-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
