<div class="card text-center" *ngFor="let item of adsList | paginate: { itemsPerPage: 5, currentPage: p }">
  <div class="card-header">
    {{item.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.authorName}}</h5>
    <p class="card-text">{{item.description}}</p>
    <a href="#" class="btn btn-primary">Delete</a>
  </div>
  <div class="card-footer text-muted">
    {{item.createdAt}}
  </div>
</div>
<div class="pagination-controls-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
