button {
  background-color: #7e6c76;
  border-color: #362e32;
}

.edit-button {
  margin-right: 20px;
}

.card-header, .card-footer {
  background-color: #adb8c4;
}

.card-body {
  background-color: #f1f1f1;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
