<div class="card text-center">
  <div class="card-header">
    {{ currentAd?.title }}
  </div>

  <div class="card-body">
    <p class="card-text line-breaker">{{ currentAd?.description }}</p>

    <button routerLink= "/edit/{{ currentAd?.id }}"
        *ngIf="userService.getCurrentUser()?.username === currentAd?.authorName"
        class="btn btn-secondary edit-button">Edit</button>

    <button routerLink="/"
      *ngIf="currentAd?.authorName === userService.getCurrentUser()?.username"
      (click) = "onDelete()" class="btn btn-secondary">Delete</button>
  </div>
  <div class="card-footer text-muted">
    <span>Created by: {{currentAd?.authorName}}</span>
    <span>Created at: {{currentAd?.createdAt | date:'medium'}}</span>
  </div>
</div>
