 .btn {
  background-color: #2f3a53;
  border-color: #fff;
}
.invalid-tooltip-custom {
  position: absolute;
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220,53,69,.9);
  border-radius: .25rem;
}
.valid-tooltip-custom {
  display: none;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h6 {
    margin: 0 20px 0 0;
    color: white;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
  }
}
